# Build files
.gradle
MANIFEST.MF
target
build

# Folder config file
Desktop.ini
.DS_Store

# Windows shortcuts
*.lnk

# Thumbnails
._*

# IntelliJ project files
.idea
*.iml

# Gradle files

# Application resources
log
**/sqlite.db
